[2017-07-26 10:19] vmaxim opened #2 "Unable to attach file via ReportPortal.emitLog(String, String, Date, File)"
`ReportPortal.emitLog("message", "INFO", date, new File("myfile"))` posts log message without specified file.

[2017-07-27 11:02] Sadknight opened #4 "Add information after test"
Please add id launch after test

[2017-07-28 09:14] #2 closed

[2017-07-31 20:16] avarabyeu commented on #4
@Sadknight where you want id to be added?

[2017-07-31 20:21] Sadknight commented on #4
In temp file.

[2017-08-04 13:38] DzmitryHumianiuk commented on #4
@Sadknight not really clear request for now.
Could you please describe in details?

[2017-08-04 13:49] Sadknight commented on #4
@DzmitryHumianiuk
У нас тесты стартуют из таски в Jira, в один момент времени таких запусков может быть много. Мне необходимо вернуть результаты прогона и ссылку на launch в Jira.
Я так понял это можно сделать только по id запуска к которому у меня нет доступа.

[2017-08-04 14:05] DzmitryHumianiuk commented on #4
@Sadknight id запуска будет знать агент, который выполняет запуск.
Сложно представляю как именно у вас запускаются тесты из таски в джире,
но если у вас есть какая-то своя прослойка написанная, то она может и забирать ID из агента репорт портального.
и из этого id формировать ссылку в виде `http://СЕРВЕР/ui/#ПРОЕКТ/launches/all/ID`

[2017-08-04 14:13] Sadknight commented on #4
@dzmitryhumianiuk
Могу показать, если интересно.
Когда можно ожидать добавления?

[2017-08-04 14:16] DzmitryHumianiuk commented on #4
@Sadknight пока не сильно понятно. поэтому и сроков никаких сказать не могу.

ну и это скорее доработка агента, на вашей стороне.
не серверное изменение.

найди меня в нашем слэке.
https://reportportal-slack-auto.herokuapp.com/

[2017-08-07 12:07] avarabyeu commented on #4
This is client-side change and actually it may be helpful for Jenkins plugin which is also need this functionality. Makes sense.

[2017-08-17 09:47] DzmitryHumianiuk commented on #4
https://github.com/reportportal/client-java/commit/8a0b07e01f3ceffd01e90c5653b81f2979852b65

[2017-08-17 10:26] DzmitryHumianiuk commented on #4
resolved

[2017-08-17 10:26] #4 closed

[2017-09-19 16:25] Vitovtx opened #8 "Add possibility to use custom launch ID in client."
Custom launch ID could be used with following scenarios:
1. Several regression suites are launched in different time. All of them reports to the same single launch on Report Portal.
2. Performance testing - parallel regression suites run from several computers that report to the same single Report Portal launch.
Pull requests with code example:
[agent-java-cucumber](https://github.com/reportportal

[2017-10-13 20:24] avarabyeu commented on #8
I bit changed, but added:
https://github.com/reportportal/client-java/blob/4.0.x/src/main/java/com/epam/reportportal/service/ReportPortal.java#L110

[2017-10-13 20:24] #8 closed

[2017-10-29 16:57] shaburov opened #9 "[BUG] ReportPortalClientModule incorrect check for a null value"
client-java-3.0.7

Incorrect instantiation of the CloseableHttpAsyncClient with a non-self-signed certificate.
PropertiesLoader injected with a Properties object, in which the values are converted to a string (String.valueOf())

![image](https://user-images.githubusercontent.com/15269131/32146055-f73b508a-bce2-11e7-8846-fe6264d26ffd.png)

![image](https://user-images.githubusercontent.com/15269131

[2017-10-31 14:15] KanstantsinSudzilouski opened #10 "Long parameters fail server report"
Put into StartTestItemRQ.parameters value with more than 256 characters, and will cause validation error on server:

[code]

I belive we need to add triming at LaunchImpl.startTestItem + we need to merge two startTestItem methods. They match ~70%

[2017-11-10 12:41] avarabyeu commented on #9
Fixes in 4.0

[2017-11-10 12:41] #9 closed

[2017-12-20 09:19] pbortnik commented on #10
@KanstantsinSudzilouski
That restriction was on the server side. It is going to be removed in 4.0.

[2018-01-18 09:29] avarabyeu commented on #10
@pbortnik if it's fixed in 4.0, let's close it

[2018-01-18 15:11] Invictum opened #12 "Proxy properties are ignored"
I am using pure `client-java` `3.0.10` in my project.
And has no luck with proxy configuration. In accordance to http://reportportal.io/docs/JVM-based-clients-configuration documentation, two options should be passed `http.proxyHost` and `http.proxyPort`.

But looks like specified settings are ignored. I tried all 3 variants of passing settings with no result.
Maybe I am missed something?

[2018-06-04 22:47] ju208g commented on #10
Using agent-java-testng-4.0.2.jar and still seeing this error -- what version was this supposed to be fixed in?

[code]

[2018-07-16 14:18] evjlobanova commented on #12
@Invictum does your question is still actual?

[2018-08-30 14:51] dagansandler opened #18 "LoggingContext isn't initialized for a test item on the root of the launch"
When opening a test item (in my scenario tried with `BEFORE_GROUPS`, to be exact) at the root level of the launch, logs for that test item are not sent to RP.

I have debugged the issue and found the root cause to be in `LaunchImpl` class, where the `startTestItem(StartTestItemRQ rq)` method doesn't call `LoggingContext.init(...)` like `startTestItem(Maybe<String> parentId, startTestItemRQ rq)` is

[2018-08-31 17:07] DzmitryHumianiuk commented on #18
@dagansandler could you plz send PR with fix?

[2018-09-13 07:41] ohadbenita opened #20 "No documentation or usage examples for how to create a client and use its different methods"
We're currently looking into integrating ReportPortal into our tests system
Trying to make some working examples, I found that the Java client has no documentation whatsoever which makes it nearly impossible to integrate this way

[2018-09-17 22:46] DzmitryHumianiuk commented on #20
@ohadbenita
http://reportportal.io/docs/Logging-Integration does this help?

[2018-09-17 22:47] DzmitryHumianiuk commented on #20
@ohadbenita or https://github.com/reportportal/agent-java-testNG this example.
to see how it wires events

[2018-10-24 14:34] dagansandler opened #21 "Log messages not being sent to the server"
I have encountered an issue where the client stops sending log items to the server when a large number of log items are being sent to the server.

From what I can see, when using client version 4.0.8/4.0.9, after 2560 log items are sent to the server, no more requests are made to send the additional log items.

The issue does not reproduce when using 4.0.7 using the same exact setup.

[2018-11-01 14:44] DzmitryHumianiuk commented on #21
@dagansandler good catch.

team will take a look in next sprints.

[2018-11-29 12:16] qakart opened #22 "java.lang.IncompatibleClassChangeError"
I am trying to use scala agent but getting the below exception

Exception in thread "ScalaTest-dispatcher" java.lang.IncompatibleClassChangeError: Expected static method com.epam.reportportal.utils.properties.PropertiesLoader.getProperties()Ljava/util/Properties;
	at com.epam.reportportal.guice.ReportPortalClientModule.configure(ReportPortalClientModule.java:63)
	at com.google.inject.spi.Elements$

[2018-11-29 12:19] qakart commented on #22
@avarabyeu @pbortnik I am using  client-java 4.0.9 and client-java-core2.7.1
thanks in advance

[2018-11-29 12:20] qakart commented on #22
@evjlobanova  do you think any of your team will help us
karthik
Expedia

[2018-11-29 12:38] evjlobanova commented on #22
Hrllo, @qakart! Unfortunetlly in our team we don`t have any Scala contributors. You can ask this question in our slack channel https://reportportal.slack.com/messages/C2GTJTTNH

[2018-11-29 13:54] qakart commented on #22
Thanks a lot @evjlobanova  but i don't have access to that workspace i have tired my Expedia login as well

[2018-11-29 15:36] dagansandler commented on #21
Small clarification just in case:
This issue occurs when more than 2560 log items are sent for a specific test item.

[2018-12-01 13:53] DzmitryHumianiuk commented on #21
Team is focused on 5.0 finalization.
As soon as it will be closed to stabilization, we will take a look into agents

[2019-04-22 20:27] yurigava opened #28 "Header name Case issue"
Hi,
I am having issues caused by this line.
https://github.com/reportportal/client-java/blob/82b3840c9533528e59384c9621d84b5c14d0da37/src/main/java/com/epam/reportportal/service/ReportPortalErrorHandler.java#L127
For some reason the server sets the header to "content-type", this is not an issue, since the RFC states field names are case-insensitive: https://www.w3.org/Protocols/rfc2616/rfc2616-sec

[2019-05-08 15:22] Mandeep-S opened #30 "Can we remove Skipped test cases from report generated and sent via email after launch ?"
I am implementing IRetryAnalyzer interface and when one test case fails and retry for second time, Report portal counts it as a new test in the report. Is there a way to handle this ?

[2019-05-10 09:58] filland commented on #30
@Mandeep-S hi, what language (java, js, etc.) do you use ?

[2019-05-10 10:08] filland commented on #30
@Mandeep-S hi, seems like you are working with TestNG, right ?

[2019-05-10 12:53] Mandeep-S commented on #30
Yes, I have implemented a Listener class as well which takes care of scenarios where if a test fails it will try for 2 times.

[2019-05-10 13:32] filland commented on #30
@Mandeep-S  do you know that we already have a lib that integrates reportportal with testng ?
You can find it here
https://github.com/reportportal/agent-java-testNG
By the way, retries are supported in this lib.

[2019-05-14 05:56] sisihi commented on #21
Hello,
I am using cucumber java:

Encountered the same "2560" issue as well.
Thanks.

[2019-05-14 11:48] filland commented on #21
@sisihi @dagansandler guys, could you provide a project that i can use to reproduce the issue ?

[2019-05-21 13:08] DzmitryHumianiuk commented on #28
@yurigava now we can close it?

[2019-05-21 13:52] Mandeep-S commented on #30
@filland Thanks, I used some code from ReportPortal TestNG listener and solved some of the concerns that I have. Can you point me to the class which is taking care of email message ? I want to customize message.

[2019-05-21 14:12] yurigava commented on #28
Sure. Thanks.

[2019-05-21 14:29] filland commented on #30
@Mandeep-S Email message ? Could you provide more details ?

[2019-05-21 15:20] Mandeep-S commented on #30
@filland The launch status message that we get over email. In ReportPortal, we can setup email notification after a launch which includes details like Total run, passed, failed, etc test case count. So, I want to customize that message details. If you have any insight or code which is taking care of it, please point to it.

[2019-05-21 20:33] #28 closed

[2019-05-22 11:16] filland commented on #30
@Mandeep-S I got you. Unfortunately there is not way to customize the content of the email since its template is located in the api service of RP.

[2019-06-04 09:10] #30 closed

[2019-06-04 09:11] #22 closed

[2019-06-04 09:12] #12 closed

[2019-06-11 08:25] filland commented on #21
@sisihi @dagansandler @DzmitryHumianiuk fixed in the latest version
https://bintray.com/epam/reportportal/client-java/4.0.16

[2019-07-04 09:54] EDbarvinsky opened #36 "[BUG] java.lang.NoSuchFieldError caused by copying of guava library"
Faced with a problem in our project, that thru the test execution process  get an Error:
[code]
In the end of researching found, that it is caused due to wrong classpath of copying of guava modules.

[2019-07-05 09:17] #36 closed

[2019-07-24 08:36] asuruceanu commented on #12
This actually still valid question, so that configuring the proxy details as such described in [url](https://reportportal.io/docs/JVM-based-clients-configuration) does not work
Ways to set up properties:
a. reportportal.properties file
http.proxyHost=localhost
http.proxyPort=45
b. command line properties
-Dhttp.proxyHost=localhost
-Dhttp.proxyPort=45

[2019-08-05 09:19] violant opened #105 "No test logs if TestNG Test has timeout parameter"
I faced with no logs in RP when I specify timeout parameter in TestNG Test annotation. All events that are relayed to start/stop/methods reflected fine in RP, but no logging from TestNG test that I send through RP appender.
Here is example of `@Test` annotation
`@Test(description = "test", dataProvider = "DataProvider", alwaysRun = true, timeout = 60)`

in DEBUG MODE
`event.getmessage()` has corre

[2019-08-13 15:30] ssethy opened #99 "Report portal exception is not handled properly which leads failure to create testng report"
There are many instances where report portal expects some value or due to some validations report portal throws exception but then this is not handled properly which cause failure in testng report creation. It leads complete failure to build. To avoid such issue we had to remove report portal listener itself.

This issue is high priority and should be resolved.

The error logs can be found as belo

[2019-12-05 17:43] sspieker-cc opened #57 "ReportPortal fails in "open/enabled" state when properties file does NOT exist"
Although the issue being reported here is specific to the behavior within the JUnit Agent, I believe that the issue is specifically related to the PropertiesLoader.java class as a part of the client-java project.

We have 300+ java projects, of which, we do not want to maintain reportportal properties within every project and force developers to constantly update the UUID values locally.  Maintena

[2019-12-05 20:36] sspieker-cc commented on #57
Version Specifics:
Logger-log4j: 4.0.1
logger-java-logback: 4.0.0
agent-java-junit: 4.1.8
Client-java: 4.0.12
commons-model: 4.2.0

[2019-12-10 13:11] evjlobanova commented on #57
@HardNorth if property file is not found, please disable ReportPortal

[2019-12-11 16:36] sspieker-cc commented on #57
We would like to have THAT suggestion to be the default behavior for the tool, however we are finding that it is ENABLED by default.

[2019-12-17 19:00] DzmitryHumianiuk commented on #57
@sspieker-cc sure, we will try to implement this as default behavior.

the only issue i see at the moment is that java client also reads environment variables and command line variables during the start.
this should be handled properly, and not to disable environment/cli variables usage

[2019-12-23 15:03] sspieker-cc commented on #57
I agree that the behavior should be managed and handled based on the input whether it be by properties file, JVM parameters or ENV variables; the default assumption should be that the reporting be disabled (as if the rp.enabled property is passed with a false value).  The RP functionality should be "forced" on using one of the supported input values.  This would help to keep the developer's machin

[2019-12-23 16:24] HardNorth commented on #57
Well, we've been living with that for years. So I don't see an rush here. The fix most likely will be release in 5.1 agents.

[2019-12-23 20:57] DzmitryHumianiuk commented on #57
@sspieker-cc
that's quite easy to handle:

1. create properties file with `rp.enable = false`, upload it to you code base and into repositories by default
2. for the CI executions, just add `-Drp.enable = true` in command line.

this will guarantee Disabled reporting for local/developer runs.
and will guarantee Enabled reporting for CI env.

[2020-02-18 12:42] Zahorodnii opened #70 "[Improve] Add more sources to Step annotaion"
Will be nice to add next feature:
[code]
Where now param it just method param, but cool have field or method invokation param.
[code]
Maybe when we have equal names, need to define from what source should get value, f.e in @StepTemplateConfig

[2020-02-19 12:06] Zahorodnii opened #72 "[Improve] Add @Issue annotation"
Create logic for link Issues from java for tests like Allure but with integration JIRA plugin.

**reportportal.properties**

[code]
@Test
@Issue("4211")
public void test() { }

Where issue value will be EXPL-4211 with issue URL https://jira.services.com/browse/EXPL-4211.

For TestNG implementation can be added Skip Exception while test marked by @Issue annotation or Issue have status OPEN, IN PROG

[2020-02-20 15:09] Zahorodnii opened #73 "Null check in @Step annotation"
If we use @Step annotation without parameters injection, than StepAspect checking method parameter on null value.

**Example:**

`@Step("Some example")`
void m1(String param) { }

m1(null) -> java.lang.NullPointerException: null value in entry

`@Step("Some {param} example")`
void m2(String param) { }

m2(null) -> java.lang.NullPointerException: null value in entry

In second case it's ok, but for

[2020-03-17 16:25] DzmitryHumianiuk commented on #73
@Zahorodnii good catch :)

[2020-04-01 07:56] sudheersinghcontinuum commented on #9
I am getting this same error, and I am using 4.0-

2020-04-01 13:24:34 ERROR ReportPortal:240 - Cannot build ReportPortal client
com.epam.reportportal.exception.InternalReportPortalClientException: Unable to load trust store
	at com.epam.reportportal.service.ReportPortal$Builder.defaultClient(ReportPortal.java:286)
	at com.epam.reportportal.service.ReportPortal$Builder.build(ReportPortal.java:233)

[2020-04-01 13:48] maxski opened #97 "Logs from Listener attached to Test level instead of Test Method level (@Test) in case of fail in Step"
Pre-conditions:
1. TestWithStep where Step has failure
2. TestWithoutStep where Test itself has failure
3. Listener should add logs in case of fail.

Scenario:
1. Run both tests.

**Expected behavior:** Both tests has listener logs on Test Method level.
**Actual behavior**: TestWithoutStep has logs on Test Method level. But TestWithStep doesn't have logs on Test Method level, instead they appears

[2020-04-03 13:15] evjlobanova commented on #73
@Yumfriez could you please link a pr to this issue?

[2020-04-04 09:46] #73 closed

[2020-04-29 01:33] willyhalim opened #91 "messages not logged in report portal for multi thread"
Whenever messages are are logged from different thread , its not logged in report portal

[code]

Not too sure if the issues is due internally it uses ThreadLocal
https://github.com/reportportal/client-java/blob/develop/src/main/java/com/epam/reportportal/service/LoggingContext.java#L55

[2020-05-12 18:05] HardNorth commented on #97
Fixed with: https://github.com/reportportal/client-java/pull/98

[2020-05-12 18:29] #97 closed

[2020-05-13 11:23] HardNorth commented on #99
We need to avoid throwing any exceptions straight in agents to not crush reporting.

[2020-05-13 16:40] #99 closed

[2020-05-13 20:10] HardNorth commented on #91
Well, yes, this is due to ThreadLocal. And currently we can't change such design. Probably we wil redesign it in later versions.

[2020-05-19 20:07] HardNorth commented on #91
Duplicates another issue, which has stronger justification: https://github.com/reportportal/client-java/issues/105

[2020-05-19 20:07] #91 closed

[2020-08-11 11:24] BalandinArtem opened #117 "Getting NPE in StepAspect.startNestedStep while running tests in parallel"
Hi guys, I have faced with NullPointer exception in Nested steps feature,  plz help with config or confirm the defect

**Problem:** NPE occurs during parallel test run
**Env:** RPv5.3, jdk11, mvn, agent-java-junit5 5.00, junit5 5.6.0
**Stacktrace:**
`java.lang.NullPointerException
    at com.epam.reportportal.aspect.StepAspect.startNestedStep(StepAspect.java:86)
    at Test1.step1(Test1.java:32)

[2020-08-11 16:05] dagansandler commented on #57
I'd like to chime in here and claim that the default general behavior for the agent should be disabled unless explicitly enabled.

This breaks the current default behavior, **but** makes much more sense - we almost always include the reportportal agents on our classpath - whether it's testng, junit, or our internal framework's custom agent, but only want to enable it in specific flows, and in thos

[2020-08-11 16:54] DzmitryHumianiuk commented on #57
Thank you guys, looks like i've got your point.

According to topic-starter @sspieker-cc
and @dagansandler, my assumption is that next approach can fit both cases.

Still if we leave `enable=true` by default,
we can control it over `uuid`+`endpoint`+`project`+`launch`.
if something missing from combination, and agent can't establish connection, then it will drop few lines in console, and ignore ex

[2020-08-19 12:44] HardNorth commented on #117
Fixed in https://github.com/reportportal/agent-java-junit5/releases/tag/5.0.1

[2020-08-19 15:08] HardNorth commented on #117
Fixed in https://github.com/reportportal/agent-java-junit5/releases/tag/5.0.2

[2020-08-19 15:08] #117 closed

[2020-09-11 13:01] HardNorth commented on #57
Fixed in:
https://github.com/reportportal/client-java/releases/tag/5.0.11

[2020-09-11 13:01] #57 closed

[2020-09-18 14:56] ava1ar opened #125 "Disable Google Analytics reporting by default"
Hi guys.

With recent ReportPortal client libraries update we noticed following:
[code]

Looks like GoogleAnalytics reporting was silently added and activated by default? This is pretty bad move, since lots of companies are using ReportPortal are in finance sector, where such "integration" is violating company infosec policies.
Also, when it can't reach the google servers (since the corporate prox

[2020-09-24 06:59] evjlobanova commented on #125
Hello!
Information about this feature is added to all GitHub repositories in the Read Me file. If you find a repository without a disclaimer, please send us this information. We will update it accordingly.

For now, we do not have plans to turn off GA for agents since we should support more than 10 different test frameworks (+ different TF versions) and at the same time we have a limited team capa

[2020-09-24 07:03] ava1ar commented on #125
Hi,

Thanks for the response! Can you at least add a configuration option to turn it off? Out test setup doesn't have access to the internet and attempt to report to GA fails, but each time there is a delay before test is completed. What we supposed to do in this case?

[2020-09-24 07:41] evjlobanova commented on #125
As I said for now we do not have such intention because of reasons higher.

@KatsiarynaTatarynovich do you have any ideas on how the problem with delay can be resolved?

[2020-09-28 14:10] ava1ar commented on #125
I understand your requirements, but I also limited in options and can't enable internet access for scripts. From what I see from the source code, GA reporting uses same timeout value which is configured for ReportPortal itself, so I can't put it to very low value to avoid delays (I may get timeouts for the RP reporting). Still looking for proper resolution from your side, but it looks like we will

[2020-09-29 06:19] HardNorth commented on #125
@ava1ar as @evjlobanova said, we need this information for our long term planning. But I don't want everyone remove GA reporting just because of their fears despite the fact that the code is open and it easy to check what we send. Feel free to update it by yourself, or you can simply configure analytics domain to point on local host.

[2020-09-29 06:26] ava1ar commented on #125
@HardNorth looks like you never worked in financial domain and only take into account technical side of the things...
The concern is not only the fact it is GA. Issue is that to make it work I need to configure corporate proxy for tests (just for this purpose, normally I don't want my test to have internet access). And `you can simply configure analytics domain to point on local host` is not that

[2020-09-29 06:45] evjlobanova commented on #125
@ava1ar Vadzim has extended expertise in different domains.  But also it should be taken into account that ReportPortal is an open-source tool, that we should consider the interests of different areas and different customers.

Thank you for highlighting this situation. As I told, we would discuss your case, and get back to you as soon as we make a decision on how to deal with this tricky case. I c

[2020-09-29 06:49] ava1ar commented on #125
Thanks, would be nice to get some kind of solution for this.

Sorry if I misinterpreted your response, I saw issues was closed, which usually means no actions to be taken. Glad if this is not the case in this situation.

[2020-09-29 06:54] evjlobanova commented on #125
We have a meeting on this question this week.
And after that, I update this ticket. Feel free to ping me

[2020-09-29 08:09] HardNorth commented on #125
@evjlobanova OK reopening this for now.

[2020-10-19 12:27] HardNorth commented on #125
We leave it as is.

[2020-10-19 12:27] #125 closed

[2020-10-19 12:29] ava1ar commented on #125
No workaround for timeouts when internet is not available?

[2020-10-19 14:59] HardNorth commented on #125
Not from our side, you can ask your devops for the workaround I already suggested.

[2020-10-20 11:20] HardNorth opened #127 "StepReporter class should be Closable and has a lambda-method"
Current implementation of [StepReporter](https://github.com/reportportal/client-java/blob/develop/src/main/java/com/epam/reportportal/service/step/StepReporter.java) is way too far from ideal. There is no option to report multi-level steps and it's necessary to finish steps manually each time (inside every agent).

To improve this it is necessary to have a Closable interface implementation, for ex

[2020-10-22 13:53] HardNorth opened #129 "Adopt Android-safe Rest client instead of current one"
To make it possible to run our agents on Android machines we need to adopt an Android safe / friendly client. One option is to use `Retrofit2`.

More info: https://github.com/reportportal/agent-java-junit5/issues/66
Another affected agent: https://github.com/reportportal/agent-java-junit/issues/18

[2020-10-23 06:17] HardNorth commented on #105
As a possible solution we can use InheritedThreadLocal for every Thread, except main. This will probably work for TestNG and JUnit5, since the first one is using main thread only for Suite creation and the second one is not using main thread at all. But what if some frameworks use main thread in the same way as other threads?

[2020-11-02 13:10] HardNorth opened #130 "Apply a templating mechanism for Test Case ID generation (the same as for annotation-based nested steps)"
To make `@TestCaseId` annotation more flexible and easy to use with POJOs and domain models it's good to apply a templating mechanism for Test Case ID generation, the same as for annotation-based nested step reporting.

E.G.:
[code]

[2020-11-24 16:43] HardNorth commented on #125
@ava1ar After few more internal discussions we decided to rework our analytics publishing class and add an environment variable `AGENT_NO_ANALYTICS`. It will be available in the next client releases (post 5.0.15). To use it just set something into `AGENT_NO_ANALYTICS` environment variable.

[2020-11-25 21:57] ava1ar commented on #125
Thanks! This should great and should work just fine! Will check it out once available.

[2020-12-14 03:14] willyhalim opened #138 "how can i update the launch with attributes/description"
how can i update the launch with attributes/description after launch started via API

I am able to do it by logging to reportportal web but is wondering if i can do it via API.
The use case will be it will be nice to tag specific launch with specific application version / test version at the same time

[2021-01-06 15:54] dagansandler commented on #21
I am seeing this bug again while using the following versions:
[code]

Simple test method logging 3000 messages, getting only ~2670 messages reported per method.

[2021-01-09 10:24] DzmitryHumianiuk commented on #21
@dagansandler it would be nice if you can create a small project code which represent the issue.

@HardNorth @pbortnik is it related to JVM configuration?

[2021-01-09 19:36] HardNorth commented on #21
@dagansandler which agent do you use?

[2021-01-09 19:39] HardNorth commented on #21
@DzmitryHumianiuk 3k logs, it's more likely about batch and buffer sizes. But it needs investigation, it might be server processing failures.

[2021-01-10 14:47] dagansandler commented on #21
@HardNorth I'm using a custom agent (initially based on the TestNG agent), but per @DzmitryHumianiuk's request I was able to reproduce this easily using the vanilla `docker-compose.yml` latest file and the latest testng agent.

Will share the project soon.

[2021-01-10 15:28] dagansandler commented on #21
Attaching a zipped project.

To reproduce the issue:
1. Extract zip
3. Edit `src/test/resources/reportportal.properties` with UUID and server address
4. Execute `./gradlew test`
5. One test class called `LargeLogTest` should execute, logging 5000 log messages.
6. Log messages will be printed to console, but only about 2700 will be logged in RP

The zip also contains a copy of the latest docker-com

[2021-01-15 09:42] roma-diadiura opened #141 "Launch not created"
Hi RP team,

we use reportportal more than 1 year. Our regression consists of 4 different java executions and after regression is finished we expect 4 launches to be present in RP. But sometimes (few times a week) we have only 3 launches, or even 2. In Jenkins job logs all is OK, all 4 java executions are finished successfully, no errors from RP either. But RP server API log is flooded with errors

[2021-01-15 13:39] roma-diadiura commented on #141
Yeap, we've installed RP into Kubernetes via provided chart

[2021-01-15 19:37] HardNorth commented on #141
@roma-diadiura I'm still have no idea what causes your issue, so I can't suggest you any solution. And it's still not clear for me do you run these launches in parallel or one by one?

[2021-01-15 19:52] roma-diadiura commented on #141
@HardNorth
Every our regression consists of 4 launches:

1. junit_ui (6 threads)
2. junit_ws (6 threads)
3. junit_ui_one_thread (1 thread)
4. junit_ws_one_thread (1 thread)

The first 2 launches run in parallel (so it will be 12 simultaneous threads). Launch 3 starts when launches 1 and 2 are finished. Launch 4 starts when launch 3 is finished.
Every night we run 5 simultaneous regressions on diff

[2021-01-16 06:13] HardNorth commented on #141
@roma-diadiura here I'm asking not about java threads, but about processes.

[2021-01-16 15:52] DzmitryHumianiuk commented on #141
@roma-diadiura do you use multithreaded configuration?
https://github.com/reportportal/client-java/wiki/How-to-aggregate-Multi-thread-process-execution-in-one-launch

[2021-01-16 22:06] roma-diadiura commented on #141
@HardNorth

 I suppose you're asking about situation when multiple processes send requests into a single RP launch. We don't have such thing, 1 process (that has 1 or 6 threads) for 1 RP launch only.

I'm 90% sure they just disappear, but it's hard to tell for sure. At least, we didn't spot any "lost" test cases.

[2021-01-17 22:08] roma-diadiura commented on #141
@DzmitryHumianiuk

To be honest, I wasn't aware of this feature. We don't have it's properties in reportportal.properties file, but if it is built in, by default, in RP5, then we use it unintentionally.

[2021-01-18 09:51] HardNorth commented on #141
@roma-diadiura can you try adding `rp.client.join=false` to your `reportportal.properties` file?

[2021-01-20 21:06] naddison opened #142 "InternalReportPortalClientException: Wait for Launch start timed out"
Hi I am using the Java Client directly in my Java code and sometimes when starting the launch I get the following error:

[code]

I am unable to troubleshoot much further, is there additional context or common scenarios/configuration that could cause this I may be missing?

Sample code of how I use the client.
[code]

Some additional context. Inside the same container/virtual machine I have a sing

[2021-01-23 12:53] roma-diadiura commented on #141
Didn't work. During 5 days we have 34 regressions. 30 are OK (4 launches in RP), 4 are incomplete (2 or 3 launches in RP).

[2021-01-25 19:32] #142 closed

[2021-01-27 13:58] VenkatVanacharlaTR opened #143 "Intermittently some Tests/Suites launches are not getting pushed to RP"
I observed that some of the tests/suite launches are not getting posted to RP and when I checked the logs related to missing test/suite I can see the error logs related RP as below

This issue occurs intermittently and even after re-running the particular tests also not updated to existing launch.

Report Portal Logs:
[code]

[2021-01-27 15:56] HardNorth commented on #143
@VenkatVanacharlaTR Got it. I version 5.1 the whole transport level will be rewritten, until then you will have to wait.

[2021-01-28 09:03] VenkatVanacharlaTR commented on #143
Thanks @HardNorth for considering it

[2021-02-16 14:14] anushaengu opened #144 "Add support to accept proxies for Https configuration"
Can you please add ignore/accept all certs if Https configuration is mentioned. Right now there is no way to bypass that https connection in java client.

[2021-02-23 18:41] tzahialt opened #145 "com.epam.reportportal.service.ReportPortal.Builder.buildEndpointUrl assumes all endpoints should be in v2 when running with async reporting"
com.epam.reportportal.service.ReportPortal.Builder.buildEndpointUrl assumes all endpoints should be in v2 when running with async reporting.
This is not true for endpoints such as com.epam.reportportal.service.ReportPortalClient#getLaunchByUuid. Trying to invoke it when com.epam.reportportal.listeners.ListenerParameters#isAsyncReporting is true, results in HTTP error 404, due to the incorrect use

[2021-02-23 18:49] dagansandler commented on #105
@HardNorth is there any progress on this? Perhaps this can be parameterized in the client and defaulted to the existing behavior? and frameworks that need this behavior can update to use this setting to solve this issue.

[2021-02-23 20:14] HardNorth commented on #105
@dagansandler not yet, the issue has milestone 6 since it requires serious logging logic rewrite. Currently I'm working on milestone 5.1, which is related to Android compatibility.

[2021-03-01 13:50] HardNorth commented on #144
No. Under any circumstances we will not encourage security attenuation.
Please use our [guide](https://reportportal.io/docs/Setup-TLS(SSL)-in) for certificate setup.

[2021-03-01 13:50] #144 closed

[2021-03-01 13:52] HardNorth commented on #145
@tzahialt I just released new version of the client, where this issue is addressed:
https://github.com/reportportal/client-java/releases/tag/5.1.0-BETA-1

[2021-03-01 13:53] HardNorth commented on #145
And I'm going to add more API V1 endpoints late.

[2021-03-10 07:49] ayuryev commented on #21
Same issue (max 2600 log items) with `com.epam.reportportal:agent-java-testng:5.0.8`, `com.epam.reportportal:logger-java-log4j:5.0.3`

[2021-03-11 05:49] HardNorth opened #146 "Update launch join mechanism to not be affected by existing .lock and .sync files"
I's starting to be a trouble when `.lock` and `.sync` files were not deleted after execution due to any reasons. I need to update the mechanism of launch UUID reading to avoid re-creation of existing launch and moreover, generate new UUID in case of finished launches. 5.1 version of client allows it.

Issue examples:
- reportportal/agent-java-junit5#83

[2021-03-11 05:56] HardNorth commented on #129
Implemented in f87775b

[2021-03-11 05:56] #129 closed

[2021-03-13 20:48] DzmitryHumianiuk commented on #21
@dagansandler just tried your example on my laptop.
mac os, openjdk 11.0.10 2021-01-19, fresh install of java, all settings are default.

![image](https://user-images.githubusercontent.com/11332788/111043922-7e8a9f80-8456-11eb-97cb-ada8012bcf9e.png)

[2021-03-13 21:44] dagansandler commented on #21
I see this is with RP server 5.3.5?

Can you give me the docker compose file you used?

On Sat, Mar 13, 2021, 22:49 Dmitriy Gumeniuk ***@***.***>
wrote:

[2021-03-13 21:46] DzmitryHumianiuk commented on #21
@dagansandler
nothing special there. just 5.3.5 version of api.
https://github.com/reportportal/reportportal/blob/d2f22ff3a94c2021e2318679e4dbc495080e52b5/docker-compose.yml

[2021-03-13 22:35] DzmitryHumianiuk commented on #21
ok, looks like i've found solution and root cause.

### First of all
This is a very synthetic test and there are specifics how JVM process loops as `for, each, while, etc.`.
JVM optimise loop with predictable output, and convert it into the some sort of _single line call_.

Details from here: https://stackoverflow.com/questions/40305266/understanding-loops-performance-in-jvm

### Second
I found a

[2021-03-15 14:24] b1zzu opened #147 "Support multi-thread logging"
Hi,
I found out that because we use vert.x in our tests and most of the requests are async and those requests response are processed by a separated thread the logs printed outside the main test Thread are not sent to ReportPortal.

Because we are not executing the tests in parallel my easy solution has been to remove the `ThreadLocal.withInitial` from the `LoggingContext` and therefore always send

[2021-03-17 13:26] HardNorth commented on #21
OK. I've updated our client and TestNG agent for better logging performance here they are:
https://github.com/reportportal/client-java/releases/tag/5.0.21
https://github.com/reportportal/agent-java-testNG/releases/tag/5.0.11

But I have a lot to say.
@dagansandler @sisihi @ayuryev @DzmitryHumianiuk

First of all, Report Portal Client was never designed or implemented for pushing hundreds of thousa

[2021-03-17 13:26] #21 closed

[2021-03-17 13:52] HardNorth commented on #147
@b1zzu This is a known issue, we have similar problem with TestNG:
https://github.com/reportportal/client-java/issues/105
With TestNG at least I have a plan how to resolve it.

But with reactive frameworks I have no idea how to resolve it since processing threads and test threads are nothing to do with each other. Probably it will be a separate API which will allow to get test item IDs and then lo

[2021-03-22 10:50] ivan-sukhomlyn commented on #21
@HardNorth @DzmitryHumianiuk thanks for your informative answers and approach explaining for an agent and RP usage 👍

[2021-04-09 08:40] kburdo opened #152 "Retrieve suiteNumber to build URL"
I want to generate url to new suite after creation of it using client-java library (client-java:5.0.18, commons-model:5.3.3). I use the following template

{base_uri}/ui/{project}/launches/all/{**launchNumber**}/{**suiteNumber**}

launchNumber - to get it we call `com.epam.reportportal.service.ReportPortalClient#getLaunchByUuid` and use `LaunchResource#launchId` field

Is there any way to retrieve

[2021-04-19 13:00] slihelly opened #153 "ReportPortalClient#startTestItem ignores description for log items"
**Summary:** When using agent-java-cucumber6 default `ScenarioReporter`, `com.epam.reportportal.service.ReportPortalClient#startTestItem(java.lang.String, com.epam.ta.reportportal.ws.model.StartTestItemRQ)` client call is used to post scenario step as **log item**. When scenario is using multi-line arguments (doc strings, data tables), they are passed as StartTestItemRQ description. This is compos

[2021-04-19 13:27] HardNorth commented on #153
Despite different classes cucumber reporters work very similar, almost the only difference is step type which is set. So agents bypass all this data in both classes, but UI does not have a feature to display it.

[2021-04-26 18:12] DzmitryHumianiuk opened #154 "Accept or trim NestedSteps name longer than 1024 symbols without throwing the error"
We use - https://github.com/reportportal/client-java
So, @evjlobanova : if you'll have a close look at the screenshot
![image](https://user-images.githubusercontent.com/50797731/115390005-64817100-a1fb-11eb-9f60-4d0106bcd761.png)

Line 378 is missing in RP logs, however, all other lines are been captured. So it was a lengthy step at line number 378 which failed and was not captured in the logs.

_

[2021-04-28 05:59] priyankachaturvedi30 commented on #154
@DzmitryHumianiuk : Thanks for opening up this as a separate thread. Are we considering this use case for implementation?

[2021-05-25 10:50] HardNorth commented on #154
@DzmitryHumianiuk What is going to be expected behavior in this case? Truncation with `...` ?

[2021-05-25 13:29] HardNorth commented on #154
OK, looks so.

[2021-05-26 11:01] HardNorth commented on #154
Released: https://github.com/reportportal/client-java/releases/tag/5.0.22

[2021-05-26 11:01] #154 closed

[2021-06-22 14:02] HardNorth commented on #152
@kburdo No, at least for now.

[2021-06-25 08:42] 7vga opened #157 "io.reactivex.exceptions.UndeliverableException at com.epam.reportportal.service.LaunchImpl"
Hi! I'm using  agent-java-testng 5.0.11 ,  logger-java-logback 5.0.3, and testNg 7.3.0
I have a custom runner, i.e. running tests via tng.run() and adding listeners including ReportPortalTestNGListener via suite.setListeners()
When I launching test suite **second time** (I want to run through set of environments), the suite running stuck and I getting the following stack trace (a fragment, it seem

[2021-06-28 15:07] HardNorth commented on #143
Fixed in release [5.1.0-BETA-1](https://github.com/reportportal/client-java/releases/tag/5.1.0-BETA-1)

[2021-06-28 15:07] #143 closed

[2021-06-28 15:38] HardNorth commented on #146
Need update of `PrimaryLaunch` and `LaunchIdLock` interface to have ability to rewrite launch UUID after a launch finish.

[2021-06-30 07:26] dagansandler commented on #21
Indeed @HardNorth @DzmitryHumianiuk , it took me some time to dive into everything you wrote, but thank you for
the effort of investigating this and the detailed analysis and explanations!

[2021-07-01 15:02] HardNorth commented on #146
Tests on `LaunchIdLockFile` class on `updateInstanceUuid` and `getLiveInstanceUuids` methods.
Tests on `AbstractJoinedLaunch` class on `updateInstanceUuid` method periodic call.

[2021-07-07 12:56] #152 closed

[2021-07-07 13:39] #146 closed

[2021-07-08 14:13] #145 closed

[2021-08-23 09:53] HardNorth commented on #147
I believe we need to get rid of ThreadLocal, we can chain `Maybe<String>` with logging context in a concurrent map. Or at maximum we can implement strategy pattern and make logging tracking in both ways.

[2021-09-14 16:40] HardNorth commented on #127
A method which returns `Closable` was reconsidered for implementation, since it's not clear how to handle exceptions inside try-catch blocks.

[2021-09-14 16:40] #127 closed

[2021-09-15 01:40] deepakarorawins opened #172 "java.lang.NoSuchMethodError: com.epam.reportportal.utils.TestCaseIdUtils.getTestCaseId"
agent-java-testng: - 5.0.7
testng:  - 7.0.1

The agent works up to Before Method, and after that on test start that it fails with the following message: -

java.lang.NoSuchMethodError: com.epam.reportportal.utils.TestCaseIdUtils.getTestCaseId(Lcom/epam/reportportal/annotations/TestCaseId;Ljava/lang/reflect/Method;Ljava/util/List;)Lcom/epam/reportportal/service/item/TestCaseIdEntry;
	at com.epam.re

[2021-11-25 10:28] HardNorth commented on #172
You are using old version of `client-java` module, please don't specify it manually use transitive dependencies. Or you use old version of a logger which forces to use old version of `client-java`.

[2021-11-25 10:28] #172 closed

[2021-12-21 13:23] HardNorth commented on #147
It doesn't work. I need different solution.

[2022-02-03 01:10] badrinrs opened #181 "Access the response of `/api/{version}/{projectName}/launch` in Tests"
Hi.

I would like to store launch_uuid and number for future reference to update test results. Can you please advise how I can get the details. I am using agent-java-cucumber in my tests.

[2022-02-03 20:46] marcelbraghini opened #180 "I need to get the launch id when saving it in the report portal"
Hey guys

I'm needing to get the id of a launch when I save it there in the report portal
I was taking a look here LaunchImpl.java (on line 112), after generating a new launch is it possible to generate a log to print the launch id or number in the terminal?

[2022-02-09 11:23] marcelbraghini commented on #180
I can do something like:

LaunchImpl > finish()

[code]

the info loggers are not presented in the terminal either, is there any way to do this without using a println?

[2022-02-12 10:38] anirbanpuky opened #182 "Getting error "Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener""
While running the test in Azure Devops Pipeline, I am getting the below error
"Cannot instantiate class com.epam.reportportal.testng.ReportPortalTestNGListener"
org.apache.maven.surefire.booter.SurefireBooterForkException: There was an error in the forked process

I have mentioned the listener in my POM.xml file only.
Please help.

Dependencies :

            <dependency>
                <groupId>

[2022-02-24 00:45] DzmitryHumianiuk commented on #181
@HardNorth what do you thing about static utilities in client, which can return this information?

[2022-02-25 14:08] HardNorth commented on #181
Already implemented, but not released: https://github.com/reportportal/client-java/blob/develop/CHANGELOG.md#unreleased

[2022-02-25 14:08] #181 closed

[2022-02-25 19:54] badrinrs commented on #181
@HardNorth Can you please advise when the next version is planned for release?

[2022-03-09 17:51] #182 closed

[2022-03-09 18:02] HardNorth commented on #182
@iKabi @anirbanpuky I transferred your issue into `client-java` since this is not a TestNG agent issue.
Well it look like you have `agent.jobstatus` and `AGENT_JOBSTATUS` keys in your environment variables simultaneously. This is rather unusual, but I fixed that.

[2022-03-29 15:23] HardNorth commented on #105
Fixed in #183

[2022-03-29 15:23] #105 closed

[2022-04-15 12:48] #70 closed

[2022-04-15 12:48] #130 closed

[2022-04-18 09:46] HardNorth commented on #180
@marcelbraghini Well, you can do it with any Logger you use on your project. Logging into terminal is just a matter of your configuration and nothing else.

[2022-04-18 09:46] #180 closed

[2022-05-03 16:47] mbanacho opened #192 "Many launches when ReuseFork is set on false"
1) Problem description:
When we run test with maven-surefire-plugin with flag reuseForks set on FALSE than we have many launches. From my analysis I know that first thread is creating PrimaryLaunch object and second thread is creating SecondaryLaunch. Problem occurs when test from PrimaryLaunch finish, than fork is killed by maven surefire and lock file is removed. Because of that next test is sta

[2022-08-16 07:11] willyhalim opened #194 "java.lang.NoClassDefFoundError: com/epam/reportportal/service/LockFile$5 when running as junit standalone"
Issue when running test using junit-platform-console-standalone.jar

[code]
The above not appearing if we run as part of mvn install

After further investigation seems this issue triggered by the shutdown hook in ReportPortalExtension

[code]

Steps to reproduce the behavior:
1. package the whole project as a fat jar
2. run java -jar junit-platform-console-standalone.jar -cp $CLASSPATH --scan-clas

[2022-09-09 14:49] HardNorth commented on #194
@willyhalim There is no one-on-one mapping of agent and client versions. Please use transient dependency. And BTW you are using very old version of the agent.

[2022-09-09 14:49] #194 closed

[2022-10-04 13:35] HardNorth commented on #192
There is no way to find out inside such fork whether the test is running within one launch or in separate launches, so automatic launch join in such case is impossible.

Alternatively, since you create a launch manually, you also need to create `reportportal.lock` and `reportportal.sync` files with launch UUID at the first line and hold file system lock on `reportportal.lock` file till the end of

[2022-10-04 13:35] #192 closed

[2022-10-10 11:07] php-del opened #198 "Separate report portal properties file according to the environment(Stg,QA,DEV)"
Is there any way we can configure our code to use reportportal.properties file according to our environment? Means we pass environment value from pom.xml whether staging or QA but we have only single reportportal.properties file being used. Can we use two separate properties files? Is any documentation available for this?

[2022-10-27 08:10] suhaibm7 opened #197 "Retried test method not logged in RP with testng retry analyzer"
**Describe the bug**
I am using Report Portal Java Testng Agent Version 5.1.2 and Testng Version 7.5. We have retry analyzer in our test code and whenever our tests failed, they are retried one more time. The problem is in case a test is retried, report portal does not log the test case and reports on RP are all green with no failures but total number of test cases are less by the number of tests

[2022-11-09 13:00] HardNorth commented on #198
@php-del There is no special property to override property file name right now. I'll consider later implementation.

[2022-11-21 07:49] HardNorth commented on #198
Implemented: https://github.com/reportportal/client-java/releases/tag/5.1.14

[2022-11-21 07:49] #198 closed